Source: manpages-zh
Section: doc
Priority: optional
Maintainer: Carlos Z.F. Liu <carlosliu@users.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), zh-autoconvert (>= 0.3.13-1), perl, sysutils
Standards-Version: 3.6.1

Package: manpages-zh
Architecture: all
Replaces: zh-trans
Provides: zh-trans
Suggests: man-browser
Conflicts: zh-trans
Description: Chinese manual pages
 This package contains the Chinese manual pages translated by
 the Chinese Man Pages Project (CMPP).  Both zh_CN and zh_TW
 (Simplified and Traditional Chinese) versions are provided.
 .
 Homepage: http://cmpp.linuxforum.net/
