Source: manpages-zh
Section: doc
Priority: optional
Maintainer: LI Daobing <lidaobing@gmail.com>
Build-Depends: debhelper (>= 4.0.0), cdbs, zh-autoconvert (>= 0.3.13), perl
Standards-Version: 3.8.1
Homepage: http://code.google.com/p/manpages-zh/

Package: manpages-zh
Architecture: all
Replaces: zh-trans
Provides: zh-trans
Suggests: man-browser
Conflicts: zh-trans
Description: Chinese manual pages
 This package contains the Chinese manual pages translated by
 the Chinese Man Pages Project (CMPP).  Both zh_CN and zh_TW
 (Simplified and Traditional Chinese) versions are provided.
