#!/usr/bin/make -f
# -*- makefile -*-
# Rewrite by Carlos Z.F. Liu <carlosliu@users.sourceforge.net>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

MANDIR=$(CURDIR)/debian/manpages-zh/usr/share/man/

build: build-stamp
build-stamp:
	dh_testdir
	$(MAKE) gb
	$(MAKE) b5
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	[ ! -f Makefile ] || $(MAKE) clean
	chmod +x utils/totw.pl
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/manpages-zh.
	#$(MAKE) install-gb DESTDIR=$(CURDIR)/debian/manpages-zh
	#$(MAKE) install-b5 DESTDIR=$(CURDIR)/debian/manpages-zh
	#rm -f $(MANDIR)/zh_CN/man1/su.1.gz
	#rm -f $(MANDIR)/zh_TW/man1/su.1.gz
	#rm -f $(MANDIR)/zh_CN/man1/newgrp.1.gz
	#rm -f $(MANDIR)/zh_TW/man1/newgrp.1.gz

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs DOCS/ChangeLog
	dh_installdocs
	dh_installman

	# mv environ.5 to man7, fix a Debian specific bug
	sed -e 's/ENVIRON(5)/ENVIRON(7)/g' $(MANDIR)/zh_CN/man5/environ.5 > $(MANDIR)/zh_CN/man7/environ.7
	sed -e 's/ENVIRON(5)/ENVIRON(7)/g' $(MANDIR)/zh_TW/man5/environ.5 > $(MANDIR)/zh_TW/man7/environ.7
	rm $(MANDIR)/zh_CN/man5/environ.5

	dh_compress
	install -D -m644 COPYING $(CURDIR)/debian/manpages-zh/usr/share/doc/manpages-zh/GFDL
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep binary-arch

.PHONY: build clean binary install binary-arch binary-indep
